$ORIGIN {{ ikim_dns_zone }}.
$TTL {{ dns_ttl }}
{{ ikim_dns_zone }}.   IN  SOA     ns.{{ ikim_dns_zone }}. {{ dns_admin_email_address }} (
                                {{ dns_current_serial_number }}; Serial number YYYYMMDD++
                                {{ dns_refresh_period }}; Refresh
                                {{ dns_retry_period }}; Retry time period
                                {{ dns_expire_period }}; Expire
                                {{ dns_minimum_period }}; Negative response caching TTL
                                )
{% for record in dns_records %}
{% if record.ttl is defined %}
{{ record.name }} {{ record.ttl }} {{ record.class }} {{ record.type }} {{ record.data }}
{% elif record.name is defined %}
{{ record.name }}  {{ record.class }} {{ record.type }} {{ record.data }}
{% else %}
   {{ record.class }} {{ record.type }} {{ record.data }}
{% endif %}
{% endfor %}
