image:
  repository: influxdb
  tag: {{ influxdb_image_tag }}
  pullPolicy: IfNotPresent
podAnnotations: {}
nameOverride: ""
fullnameOverride: ""
resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
securityContext: {}
livenessProbe:
  path: "/health"
  scheme: "HTTP"
  port: 8086
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
readinessProbe:
  path: "/health"
  scheme: "HTTP"
  port: 8086
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 1
  successThreshold: 1
  failureThreshold: 3
startupProbe:
  enabled: false
env: {}
adminUser:
  organization: "{{ influxdb_admin_organization }}"
  bucket: "{{ influxdb_admin_bucket }}"
  user: "{{ influxdb_admin_user }}"
  retention_policy: "0s"
  password: ""
  token: ""
  existingSecret: influxdb-auth
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 500Gi
  mountPath: /var/lib/influxdb2
  subPath: ""
service:
  type: ClusterIP
  port: 8086
  targetPort: 8086
  annotations: {}
  labels: {}
ingress:
  enabled: false
  tls: false
  hostname: ""
  annotations: {}
  path: /
pdb:
  create: false
