[Unit]
Description=FreeIPA server in Docker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=1hour
Restart=always
ExecStartPre=-/usr/bin/docker stop {{ server_container_name }}
ExecStartPre=-/usr/bin/docker rm {{ server_container_name }}
ExecStartPre=/usr/bin/docker pull {{ ipa_server_image }}
ExecStart=/usr/bin/docker run -t --name {{ server_container_name }} \
	--read-only \
	-v "{{ ipa_storage }}:/data" \
	-v /sys/fs/cgroup:/sys/fs/cgroup:ro \
	--sysctl net.ipv6.conf.all.disable_ipv6=0 \
	-h "{{ ansible_facts['fqdn'] }}" \
	-e IPA_SERVER_IP={{ ipa_server_ipv4 }} \
{% for portspec in ipa_server_ports %}
	-p {{ portspec | regex_search('^[0-9]+') }}:{{ portspec }} \
{% endfor %}
	"{{ ipa_server_image }}" \
	ipa-server-install -U

[Install]
WantedBy=multi-user.target
