token: {{ rke2_token }}
{% if inventory_hostname not in groups[rke2_primary_server_group_name] %}
server: https://{{ rke2_server_url }}:9345
{% endif %}

write-kubeconfig: {{ rke2_kubeconf_host_path }}{{ rke2_download_kubeconf_file_name }}
write-kubeconfig-mode: "0600"
tls-san: {{ rke2_additional_sans }}

cluster-domain: "cluster.local"

etcd-snapshot-schedule-cron: "* */12 * * *"
etcd-snapshot-retention: 6

node-name: {{ inventory_hostname }}

snapshotter: {{ rke2_snapshotter }}

cni: {{ rke2_cni }}
