- name: Enable the enumerate option in sssd.conf
  ansible.builtin.template:
    src: ssd_slurm_conf.j2
    dest: /etc/sssd/conf.d/01_slurm.conf
    owner: root
    group: root
    mode: 0644
  notify: restart sssd
